# Data Analysis using Pandas

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: numpy>=1.21.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import pandas as pd
import numpy as np

#  create a random dataframe using pandas dataframe

In [3]:
row = 3
column = 4
low = 1 
high = 10

random_array = np.random.randint(low, high, size=(row, column))
print(random_array)

[[1 7 3 8]
 [8 1 5 8]
 [2 7 7 6]]

In [4]:
index = ["udaya","Follow","me"] # name of index should be same as no of rows
name_of_column=["jan","feb","mar","may"]   # Should be same as no of columns

data = pd.DataFrame(random_array,index=index,columns=name_of_column)
data

        jan  feb  mar  may
udaya     1    7    3    8
Follow    8    1    5    8
me        2    7    7    6

# series

In [5]:
my_list = [1, 2, 3, 4, 5]
my_series = pd.Series(my_list,index=['a', 'b', 'c', 'd', 'e'])

my_series

a    1
b    2
c    3
d    4
e    5
dtype: int64

# DataFrame

In [6]:
DFrame ={"name":["udaya","kuku"],
        "age":[22,33]}

dataa = pd.DataFrame(DFrame)
dataa

    name  age
0  udaya   22
1   kuku   33

# Read DataSet

In [7]:
#csv file

In [ ]:
df = pd.read_csv("")